config/database.yml
config/cloudinary.yml
.bundle
db/*.sqlite3
log/*.log
tmp/
.rvmrc
.sass-cache/
*.DS_Store
config/deploy.rb
*.swp
.env
.env.test
*.dump
dump.rdb
public/javascripts/*
public/test_assets/
/node_modules
/public/webpack
