body {
  margin: 0;
  padding: 0;
}

ul#primary-nav {
  text-align: right;
  background: #575757;
  margin: 0;
  padding: 1em;
  color: white;
  font-weight: bold;
}
ul#primary-nav li {
  padding: 0 0.5em;
  display: inline;
}
ul#primary-nav li a {
  color: white;
}

#main {
  margin: 1em;
}
