body {
  margin: 0;
  padding: 0;
}

a img {
  border: 0;
}

ul#primary-nav {
  text-align: right;
  background: #575757;
  margin: 0;
  padding: 1em;
  color: white;
  font-weight: bold;
}
ul#primary-nav li {
  padding: 0 0.5em;
  display: inline;
}
ul#primary-nav li a {
  color: white;
}

#main {
  margin: 1em;
}

html.stories, html.stories body, html.stories div#main {
  height: 100%;
}

/* stories table */
table.stories {
  width: 100%;
  height: 100%;
}

table.stories td {
  vertical-align: top;
  background-color: #ccc;
}

div.storycolumn {
  overflow: auto;
  padding-bottom: 80px;
}

/* Story columns headers */
table.stories th {
  background-color: #000;
  color: #eee;
  padding: 0.2em;
  font-weight: bold;
}

/* Story types */
div.story {
  padding: 0.3em;
  background-repeat: no-repeat;
  background-position: 4px 4px;
  background-color: #eee;
  border-bottom: 1px solid #ddd;
}
div.story:hover {
  background-color: #ddd;
}

div.story-icons {
  float: left;
}
div.story-title {
  margin-left: 65px;
}
.unestimated div.story-title {
  font-style: italic;
}
div.story-title abbr.initials {
  color: green;
  font-weight: bold;
  margin-left: 0.2em;
  border: none;
}

#in_progress div.story-title,
#backlog div.story-title,
#chilly_bin div.story-title {
  cursor: move;
}

span.estimate {
  border: 1px solid #777;
  padding: 0 0.2em;
  margin: 0 2px 0 0;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  vertical-align: top;
  font-size: x-small;
  font-weight: bold;
  font-style: italic;
}

span.estimate_1 {
  background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0.125, rgb(250,182,155)),
      color-stop(0..25, rgb(255,255,255))
  );
  background-image: -moz-linear-gradient(
      center bottom,
      rgb(250,182,155) 12.5%,
      rgb(255,255,255) 12.5%
  );
}
span.estimate_2 {
  background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0.25, rgb(250,182,155)),
      color-stop(0.25, rgb(255,255,255))
  );
  background-image: -moz-linear-gradient(
      center bottom,
      rgb(250,182,155) 25%,
      rgb(255,255,255) 25%
  );
}
span.estimate_3 {
  background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0.375, rgb(250,182,155)),
      color-stop(0.375, rgb(255,255,255))
  );
  background-image: -moz-linear-gradient(
      center bottom,
      rgb(250,182,155) 37.5%,
      rgb(255,255,255) 37.5%
  );
}
span.estimate_4 {
  background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0.5, rgb(250,182,155)),
      color-stop(0.5, rgb(255,255,255))
  );
  background-image: -moz-linear-gradient(
      center bottom,
      rgb(250,182,155) 50%,
      rgb(255,255,255) 50%
  );
}
span.estimate_5 {
  background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0.625, rgb(250,182,155)),
      color-stop(0.625, rgb(255,255,255))
  );
  background-image: -moz-linear-gradient(
      center bottom,
      rgb(250,182,155) 62.5%,
      rgb(255,255,255) 62.5%
  );
}
span.estimate_6 {
  background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0.75, rgb(250,182,155)),
      color-stop(0.75, rgb(255,255,255))
  );
  background-image: -moz-linear-gradient(
      center bottom,
      rgb(250,182,155) 75%,
      rgb(255,255,255) 75%
  );
}
span.estimate_7 {
  background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0.875, rgb(250,182,155)),
      color-stop(0.875, rgb(255,255,255))
  );
  background-image: -moz-linear-gradient(
      center bottom,
      rgb(250,182,155) 87.5%,
      rgb(255,255,255) 87.5%
  );
}
span.estimate_8 {
  background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(1, rgb(250,182,155)),
      color-stop(1, rgb(255,255,255))
  );
  background-image: -moz-linear-gradient(
      center bottom,
      rgb(250,182,155) 100%,
      rgb(255,255,255) 100%
  );
}

.story.release {
  background-color: #333;
  color: white;
}
.story.release:hover {
  background-color: #222;
}

/* Story action buttons */
.state-actions {
  float: right;
  margin-left: 0.2em;
}

.state-actions form div, .state-actions form {
  display: inline;
}

.state-actions input {
  padding: 0;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border: 1px solid #333;
  cursor: pointer;
  font-size: small;
}

.state-actions input.start {
  background-color: #d3d7cf;
}
.state-actions input.finish {
  background-color: #729fcf;
}
.state-actions input.deliver {
  background-color: #edd400;
}
.state-actions input.accept {
  background-color: #73d216;
}
.state-actions input.reject {
  background-color: #ef2929;
}
.state-actions input.restart {
  background: #ef2929 url('/images/redo.png') no-repeat;
  padding-left: 16px;
}

img.expand, img.collapse {
  cursor: pointer;
}

table#import tr.valid, .notice {
  color: white;
  background-color: green;
}
table#import tr.invalid, .alert {
  color: white;
  background-color: red;
}
