<div id="error_explanation" class="alert alert-block alert-error">
  <h2><%= pluralize(object.errors.count, "error") %> prohibited this <%= object.class.name.humanize %> from being saved:</h2>

  <ul>
  <% object.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
</div>
