<% activities_group.reverse_each do |date_group| %>
<ul class="list-group list-group-root">
  <li class="list-group-item activities_date">
    <%= l date_group.first.to_date, format: :short %>
  </li>

  <ul class="list-group">
  <% date_group.last.each do |project_group| %>
    <li class="list-group-item activities_project">
      <%= link_to project_group.first.name, project_path(project_group.first) %>
    </li>

    <ul class="list-group">
    <% project_group.last.each do |activities| %>
      <% activities.last.each do |activity| %>
        <% if activity.description %>
          <li class="list-group-item activities_subject"><%= activity.description.html_safe %></li>
        <% end %>
      <% end %>
    <% end %>
    </ul>
  <% end %>
  </ul>
</ul>
<% end %>
