<script type="text/template" charset="utf-8" id="attachinary_template">
<ul class='attachinary_images_list'>
<% if ( files.length == 0 ) { %>
  <li>zero documents uploaded yet</li>
<% } %>
<% for(var i = 0; i < files.length; i++) { %>
  <li>
    <% if ( files[i] && files[i].resource_type == "raw" ) { %>
      <div class="raw-file">
        Document:
        <a href="<%= $.cloudinary.url(files[i].public_id, { resource_type: 'raw' }) %>" target="_blank">
           <%= files[i].public_id %>
        </a>
        <a href="#" data-remove="<%= files[i].public_id %>">Remove</a>
      </div>
    <% } else { %>
      <a href="<%= $.cloudinary.url(files[i].public_id) %>" target="_blank">
        <img src="<%= $.cloudinary.url(files[i].public_id, { "version": files[i].version, "format": 'jpg', "crop": 'fill', "width": 75, "height": 75 }) %>"
        alt="" width="75" height="75" />
      </a>
      <a href="#" data-remove="<%= files[i].public_id %>">Remove</a>
    <% } %>
  </li>
<% } %>
</ul>
</script>
