<ul class="sidebar-nav">
  <li class="toggle sidebar-item">
    <a href="#sidebar-toggle" id="sidebar-toggle" class="sidebar-link">
      <i class="mi md-18 sidebar-icon">menu</i>
    </a>
  </li>

  <li class="sidebar-item">
    <div class="column-toggles-wrap">
      <div id="column-toggles"></div>
    </div>
  </li>
</ul>
