<ul class="sidebar-nav">
  <li class="toggle">  
    <a href="#sidebar-toggle" id="sidebar-toggle">
      <i class="mi md-18 mi--sidebar">menu</i>
    </a>
  </li>
  
  <li>
    <div class="column-toggles-wrap">
      <div id="column-toggles"></div>
    </div>
  </li>
</ul>
