<% content_for :title_bar do %>
  <h1><%= t('projects.archived projects') %></h1>
<% end %>

<div id="projects" class="projects-list">
  <div class="row item">
    <%= render @projects %>
  </div>
</div>
