<% content_for :sidebar do %>
  <%= render :partial => 'projects/nav', :locals => {:project => @project} %>
<% end %>
<% content_for :title_bar do %>
<% end %>

<div class="row">
  <div class="col-sm-12 col-md-6">
    <h2><%= t('projects.edit project') %></h2>

    <%= render 'form' %>
  </div>

  <%= render 'integrations/form' %>
</div>
