<% content_for :title_bar do %>
  <h1><%= t('.listing projects') %></h1>
<% end %>

<div id="projects" class="projects-list">
  <div class="row item">
    <%= render @projects %>
  </div>
</div>

<%= link_to t('projects.new project'), new_project_path, class: 'btn btn-primary' %>
