<% content_for :title_bar do %>
  <h1><%= t('.listing projects') %></h1>
<% end %>

<%= render "list", projects: @projects %>

<%= link_to t('projects.new project'), new_project_path, class: 'btn btn-primary' %>
