<% content_for :sidebar do %>
<% end %>
<% content_for :title_bar do %>
  <h1><%= t('projects.new project') %></h1>
<% end %>

<div class="row">
  <div class="col-sm-12 col-md-6">
    <%= render 'form' %>
  </div>
</div>

<%= link_to 'Back', projects_path %>
