<% content_for :title_bar do %>
  <h1><%= t('projects.new project') %></h1>
<% end %>

<div class="container">
  
  <div class="row">
    <div class="span8 offset2">

      <%= render 'form' %>
      
      <%= link_to 'Back', projects_path %>
      
    </div>
  </div>
</div>

