<% content_for :title_bar do %>
  <span class="navbar-brand"><%= t('projects.new project') %></span>
  <%= link_to t('back'), @project, class: 'btn btn-primary btn-sm navbar-btn' %>
<% end %>

<div class="row">
  <div class="col-xs-12 col-sm-8 col-sm-offset-2">
    <div class="page-header">
      <h4 class="page-header-title darkgrey-2">
        <%= t('projects.new project') %>
      </h4>
    </div>
  </div>
  <div class="col-xs-12 col-sm-5 col-sm-offset-2">
    <div class="panel card">
      <div class="panel-body">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>
