<% content_for :title_bar do %>
  <div class="project_nav">
    <%= link_to t('back'), @project, class: "btn btn-primary btn-sm" %>
  </div>
<% end %>

<div class="row">
  <div class="col-sm-12 col-md-6">
    <h2><%= t('projects.new project') %></h2>

    <%= render 'form' %>
  </div>
</div>
