# SQLite
development:
  adapter: sqlite3
  database: db/development.sqlite3
  pool: 5
  timeout: 5000

test:
  adapter: sqlite3
  database: db/test.sqlite3
  pool: 5
  timeout: 5000

production:
  adapter: sqlite3
  database: db/production.sqlite3
  pool: 5
  timeout: 5000

# MySQL
# development:
#   adapter: mysql2
#   encoding: utf8
#   reconnect: false
#   database: fulcrum_development
#   pool: 5
#   username: root
#   password:
#   host: localhost
#
# test:
#   adapter: mysql2
#   encoding: utf8
#   reconnect: false
#   database: fulcrum_test
#   pool: 5
#   username: root
#   password:
#   host: localhost
#
# production:
#   adapter: mysql2
#   encoding: utf8
#   reconnect: false
#   database: fulcrum_production
#   pool: 5
#   username: root
#   password:
#   host: localhost

# PostgreSQL
# development:
#   adapter: postgresql
#   encoding: unicode
#   database: fulcrum_development
#   pool: 5
#   username: fulcrum
#   password:
#
# test:
#   adapter: postgresql
#   encoding: unicode
#   database: fulcrum_test
#   pool: 5
#   username: fulcrum
#   password:
#
# production:
#   adapter: postgresql
#   encoding: unicode
#   database: fulcrum_production
#   pool: 5
#   username: fulcrum
#   password: