<script type="text/javascript">
$(function() {
  var project = new Project({"project":{"iteration_length":1,"last_changeset_id":123,"iteration_start_day":1,"point_values":[0,1,2,3,5,8],"default_velocity":10,"id":999999,"start_date":"2012/03/08"}});
  project.users.reset([{"user":{"name":"Test User","email":"test@example.com","initials":"TU","id":1}}]);
  project.current_user = new User({"user":{"name":"Test User","email":"test@example.com","initials":"TU","id":1}});

  project.stories.fetch = function() {};
  window.project = project;

  var chilly_bin = $('#chilly_bin');
  var backlog = $('#backlog');
  var in_progress = $('#in_progress');
  var done = $('#done');

  var view, storyId = 1;
  appendStoryTo(chilly_bin,
    {"id":storyId++,"title":"Unestimated feature","estimable":true});
  appendStoryTo(chilly_bin, {
    "id":storyId++,"title":"Estimated feature","estimated":true,"estimate":3
  });
  appendStoryTo(chilly_bin,
    {"id":storyId++,"title":"Example chore","story_type":"chore"});
  appendStoryTo(chilly_bin,
    {"id":storyId++,"title":"Example bug","story_type":"bug"});
  appendStoryTo(chilly_bin,
    {"id":storyId++,"title":"Example release","story_type":"release"});

  view = appendStoryTo(chilly_bin, {
    "id":storyId++,"title":"Save in progress","estimated":true,"estimate":3
  });
  view.saveInProgress = true;
  view.render();
  view.disableForm();

  appendStoryTo(chilly_bin,
    {"id":storyId++,"title":"Editing feature","editing":true});
  appendStoryTo(chilly_bin,
    {"id":storyId++,"title":"Editing chore","story_type":"chore","editing":true});
  appendStoryTo(chilly_bin,
    {"id":storyId++,"title":"Editing bug","story_type":"bug","editing":true});
  appendStoryTo(chilly_bin,
    {"id":storyId++,"title":"Editing release","story_type":"release","editing":true});

  appendStoryTo(backlog,
    {"id":storyId++,"title":"Unestimated feature","estimable":true});
  appendStoryTo(backlog, {
    "id":storyId++,"title":"Estimated feature","estimated":true,"estimate":3
  });
  appendStoryTo(backlog,
    {"id":storyId++,"title":"Example chore","story_type":"chore"});
  appendStoryTo(backlog,
    {"id":storyId++,"title":"Example bug","story_type":"bug"});
  appendStoryTo(backlog,
    {"id":storyId++,"title":"Example release","story_type":"release"});
  appendStoryTo(backlog, {
    "id":storyId++,"title":"Estimated feature","estimated":true,"estimate":3
  });
  view = appendStoryTo(backlog,
    {"id":storyId++,"title":"Save in progress","story_type":"release","editing":true});
  view.saveInProgress = true;
  view.render();
  view.disableForm();

  appendStoryTo(in_progress,
    {"id":storyId++,"title":"Started feature","state":"started","estimate":3,
      "estimated":true});
  appendStoryTo(in_progress,
    {"id":storyId++,"title":"Finished feature","state":"finished",
      "estimate":3, "estimated":true});
  appendStoryTo(in_progress, {
    "id":storyId++,"title":"Delivered feature","estimated":true,"estimate":3,
    "state":"delivered"
  });
  appendStoryTo(in_progress, {
    "id":storyId++,"title":"Rejected feature","estimated":true,"estimate":3
  });
  appendStoryTo(in_progress,
    {"id":storyId++,"title":"Example chore","story_type":"chore"});
  appendStoryTo(in_progress,
    {"id":storyId++,"title":"Example bug","story_type":"bug"});
  appendStoryTo(in_progress,
    {"id":storyId++,"title":"Example release","story_type":"release"});

  appendIterationTo(done, new Iteration({'number':1, stories:[]}));

  function appendStoryTo(el, storyAttributes, view) {
    var story = new Story(storyAttributes);
    //story.collection = window.project.stories;
    window.project.stories.add(story);
    if (typeof view == 'undefined') {
      view = new StoryView({model: story});
    }
    view.render();
    el.append(view.el);
    return view;
  }

  function appendIterationTo(el, iteration, view) {
    iteration.project = window.project;
    if (typeof view == 'undefined') {
      view = new IterationView({model: iteration});
    }
    view.render();
    el.append(view.el);
    return view;
  }

  window.projectView = new ProjectView({model: project});
  window.projectView.scaleToViewport();
  $(window).resize(projectView.scaleToViewport);

  window.projectView.notice({
    'title': 'Test card',
    'text': 'This is a testcard to expose the full UI on one page'
  });
});
</script>

<% content_for :title_bar do %>
  <div id="velocity" class="velocity"></div>
  <%= render :partial => 'projects/nav',
             :locals => {:project => @project, :show_column_toggles => true} %>
  | <a id="add_story" href="#">Add story</a>
<% end %>

<table class="stories" width="100%">
  <thead>
    <tr>
      <th class="done_column">Done<a class="toggle-column hide_done" title="Close">&times;</a></th>
      <th class="in_progress_column">In Progress<a class="toggle-column hide_in_progress" title="Close">&times;</a></th>
      <th class="backlog_column">Backlog<a class="toggle-column hide_backlog" title="Close">&times;</a></th>
      <th class="chilly_bin_column">Chilly Bin<a class="toggle-column hide_chilly_bin" title="Close">&times;</a></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="done_column" style="width: 25%"><div id="done" class="storycolumn"></div></td>
      <td class="in_progress_column" style="width: 25%"><div id="in_progress" class="storycolumn sortable"></div></td>
      <td class="backlog_column" style="width: 25%"><div id="backlog" class="storycolumn sortable"></div></td>
      <td class="chilly_bin_column" style="width: 25%"><div id="chilly_bin" class="storycolumn sortable"></div></td>
    </tr>
  </tbody>
</table>
