body {
  font-family: 'Noto Sans', sans-serif;
  color: $darkgrey-3;
  background-color: $lightgrey-7;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
  height: 100%;
  .flash-message-row {
    width: 100%;
    margin: auto;
    .flash-message {
      width: 40%;
    }
  }
}

.board {
  background-color: $darkgrey-10;
}

.content-wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
}
