.navbar {
  margin-bottom: 0;
  min-height: 0;
  font-size: 12px;
  background: $lightgrey-2;
  border: 0;
  border-radius: 0;

  .nav-pills {
    .nav-item {
      &.active {
        .nav-link {
          background-color: transparent;
          border-bottom: 2px solid $darkred;
          color: $darkred;
        }
      }

      .nav-link {
        border-radius: 0;
        padding: 5px 15px;
        min-width: 80px;
        text-align: center;
        text-transform: uppercase;
        font-weight: 800;
        color: $darkgrey-2;
        transition: 0.4s ease all;

        &:focus {
          background-color: inherit;
        }

        &:before {
          content: ' ';
          width: 1px;
          position: absolute;
          height: 55%;
          background-color: $lightgrey-3;
          right: 0;
        }

        &:after {
          background: $darkred;
          bottom: -2px;
          content: ' ';
          height: 2px;
          left: 0;
          position: absolute;
          transform: scaleX(0);
          transform-origin: 50% 50%;
          transition: 0.3s ease all;
          width: 100%;
        }

        &:hover {
          background: transparent;
          color: $darkred;

          &:after {
            transform: scaleX(1);
          }
        }
      }
    }
  }
}
