$white:         #ffffff;
$black:         #000000;

$darkgrey:      #6a7176;
$darkgrey-2:    #444444;
$darkgrey-3:    #3f4c5c;
$darkgrey-4:    #5f6769;
$darkgrey-5:    #555555;

$lightgrey:     #e5e5e5;
$lightgrey-2:   #e9e9e9;
$lightgrey-3:   #d4d4d4;
$lightgrey-4:   #dadada;
$lightgrey-5:   #cedee3;
$lightgrey-7:   #f7f6f6;
$lightgrey-8:   #efefef;
$lightgrey-9:   #cccccc;
$lightgrey-10:  #f0f0f0;
$lightgrey-11:  #f4f4f4;

$blue:          #2075F3;
$blue-2:        #1976D2;

$titlebar-text: #5e6469;

$darkred: #c32323;

$orange: #FF5722;

// Tango icon theme pallette
// http://tango.freedesktop.org/Tango_Icon_Theme_Guidelines

$butter-1:      #fce94f;
$butter-2:      #fcf8e3;
$chameleon-1:   #8ae234;
$chameleon-2:   #73d216;
$chameleon-3:   #4e9a06;
$sky-blue-3:    #204a87;
$scarlet-red-2: #cc0000;
$aluminium-3:   #babdb6;
$aluminium-4:   #888a85;
$aluminium-6:   #2e3436;

$sidebar-size: 200px;
$sidebar-size-collapsed: 50px;
$sidebar-bg-default:  #000;
$sidebar-bg-selected: #222;
$sidebar-bg-hover:    #333;
$sidebar-fg-default:  #bbb;
$sidebar-fg-hover:    #fff;
