$darkgrey:   #6a7176;           // Header color

// Tango icon theme pallette
// http://tango.freedesktop.org/Tango_Icon_Theme_Guidelines
$butter-1:      #fce94f;
$chameleon-1:   #8ae234;
$chameleon-2:   #73d216;
$chameleon-3:   #4e9a06;
$sky-blue-3:    #204a87;
$scarlet-red-2: #cc0000;
$aluminium-3:   #babdb6;
$aluminium-4:   #888a85;
$aluminium-6:   #2e3436;
