$icons-spacing:2px;
$icons-collapse-spacing:6px;
@import"compass/utilities/sprites";
$icon-layout: smart;
$icon-sprite-dimensions: true;
@import "icons/*.png";
@include all-icons-sprites;

.icon{
  width:16px;
  height:16px;
  padding:0;
  display:inline-block;
  text-indent:-9999px;
}

.icons-throbber{
  background:image-url('throbber.gif') no-repeat;
}
.icons-spinner{
  background:image-url('spinner.gif') no-repeat;
}

a.expand, a.collapse {
  cursor: pointer;
}
.fa {
  &-star {
    color: #FFE000;

    &-o {
      color: #726904;
    }
  }

  &-icon-overlay {
    position: relative;

    .fa {
      position: absolute;
      top: 0;
      left: 0;

      &:first-child {
        position: initial;
      }
    }
  }

  &-comment {
    color: white;

    &-o {
      color: gray;
    }
  }

  &-bug {
    color: #C20B0B;
  }

  &-cog {
    color: #5E5C5C;
  }
}
