$icons-spacing:2px;
$icons-collapse-spacing:6px;
@import"compass/utilities/sprites";
$icon-layout: smart;
$icon-sprite-dimensions: true;
@import "icons/*.png";
@include all-icons-sprites;

i {
  display: inline-flex;
  vertical-align: middle;
}

.icon{
  width:16px;
  height:16px;
  padding:0;
  display:inline-block;
  text-indent:-9999px;
}

.icons-throbber { background:image-url('throbber.gif') no-repeat; }
.icons-spinner  { background:image-url('spinner.gif') no-repeat; }

a.expand, a.collapse { cursor: pointer; }

.mi.md-20 { font-size: 20px; }
.mi.md-14 { font-size: 14px; }
.mi.md-star { color: #FFC000; }
.mi.md-bug  { color: #C20B0B; }
.mi.md-delete { color: red; }

.story {
  padding-top: 5px;

  &-hover {
    padding-left: 2px;
    margin-top: -2px;
  }

  .details {
    position: relative;
    top: -2px;
    margin-left: 8px;
  }
}
