@import 'compass/css3';
@import 'jquery_gritter';
@import 'jquery_tagit';
@import 'popover';
@import 'icons';


body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

a img {
  border: 0;
}

#header {
  position: relative;
  z-index: 900;
}

ul#primary-nav {
  text-align: right;
  background-image: image-url('logo.png');
  background-repeat: no-repeat;
  background-position: 13px 6px;
  margin: 0;
  padding: 1em 1em 1em 40px;
}
ul#primary-nav li {
  padding: 0 0.5em;
  display: inline;
}
ul#primary-nav li a {

}
ul#primary-nav li.root {
  float: left;
}
ul#primary-nav li.secondary {
  position: relative;
  @include icons-sprite(collapse, false, 0px, 6px);
  background-position-x:right;
  padding: 0.4em 18px 0.4em 0.4em;
}
ul#primary-nav li.secondary ul {
  visibility: hidden;
}
ul#primary-nav li.secondary:hover ul {
  visibility: visible;
}
ul#primary-nav li.secondary ul {
  padding: 0.3em;
  position: absolute;
  left: 0; top: 1.7em;
}
ul#primary-nav li.secondary ul li {
  white-space: nowrap;
  text-align: left;
  display: block;
}

#title_bar {
  padding: 5px 10px 3px 10px;
  line-height: 140%;
  margin-bottom: 0.5em;
  position: relative;
  margin: 0;
  padding: 10px 1em;

  div.velocity {
    float: right;
    position: relative;

    div.velocity_override_container {
      width: 220px;
      position: absolute;
      right: 0;
      top: 30px;
      z-index: 1;

      ul {
        margin: 10px;
        padding: 0;
        li {
          list-style-type: none;
        }
      }
    }

    #velocity_value {
      cursor: pointer;
    }
  }

  div.velocity.fake #velocity_value {
  
  }

  #add_story {
    background-repeat: no-repeat;
    margin: 0;
    padding: 0.2em 0.4em 0.2em 18px;
    cursor: pointer;
  }
}

#title_bar h1 {
  margin: 0.3em 0;
}

#main {
  margin: 1em;
  position: relative;
}

html.stories, html.stories body, html.stories div#main {
  height: 100%;
}

#column-toggles {
  float: right;
}

#column-toggles a {
  margin: 0 0.2em;
  padding: 3px;
}

#column-toggles a.pressed {

}

/* stories table */
table.stories {
  width: 100%;
  height: 100%;
  border-spacing: 5px 0;
}

table.stories td {
  vertical-align: top;
}

div.storycolumn {
  overflow: auto;
  padding-bottom: 80px;
}

/* Story columns headers */
.column_header {
  text-align: center;
  padding: 0.2em;
  a.toggle-column{
    float: right;
    padding: 0px 5px 1px;
    cursor: pointer;
    &:hover{
    
    }
  }
}

/* Story types */
div.story {
  padding: 0.3em;
  background-repeat: no-repeat;
  background-position: 4px 4px;
}
div.story:hover {

}

div.story.editing, div.story.editing:hover {

}

div.story.feature.accepted,
div.story.bug.accepted,
div.story.chore.accepted{

}
div.story input[type=text],
div.story textarea {
  width: 99%;
}
div.story textarea {
  height: 50px;
}

div.story-icons {
  float: left;
}
div.story-title {
  margin-left: 65px;
}
.unestimated div.story-title {

}
div.story-title abbr.initials {
  margin-left: 0.2em;
  border: none;
}

#in_progress div.story-title,
#backlog div.story-title,
#chilly_bin div.story-title {
  cursor: move;
}
#in_progress div.story.accepted div.story-title {
  cursor: inherit;
}

span.estimate {
  padding: 0 0.2em;
  margin: 0 2px 0 0;
  vertical-align: top;
}

span.estimate_1 {

}
span.estimate_2 {

}
span.estimate_3 {

}
span.estimate_4 {

}
span.estimate_5 {

}
span.estimate_6 {

}
span.estimate_7 {

}
span.estimate_8 {

}

.story.release {

}
.story.release:hover {

}

/* Story action buttons */
.state-actions {
  float: right;
  margin-left: 0.2em;
}

.state-actions form div, .state-actions form {
  display: inline;
}

/* Iteration markers */
.iteration {
  @include icons-sprite(iteration, false, 2px, 3px);
  padding: 0.2em 0.2em 0.2em 20px
}
.iteration .points {
  float: right;
}

.state-actions input {
  margin: 0;
  padding: 0 0.3em;
  cursor: pointer;
}
.story.release .state-actions input {

}
.state-actions input:active {

}

.state-actions input.finish {

}
.state-actions input.deliver {

}
.state-actions input.accept {

}
.state-actions input.reject {

}
.state-actions input.restart {
  background-repeat: no-repeat;
  padding-left: 16px;
}

table#import tr.valid, .notice {

}
table#import tr.invalid, .alert {

}

ul#projects {
  list-style: none;
  width: 50%;
  padding-left: 0;
}

ul#projects li {
  margin: 10px 0;
  padding: 10px;
}
ul#projects li:hover {

}

ul#projects li h2 {
  display: inline;
}

div.project_options {
  float: right;
}

ul#projects li:hover {

}

a.button {
  padding: 5px;
}



a.button:hover {

}
.tags{

}

// Popover Overrides
// Custom Style Overrides
.popover{
  p{
    margin-top:0px;
  }
  .title{
    margin:0px;
  }
  .inner{
    padding:2px ;
  }
  .content{
    padding: 10px 0px 14px;
  }
  .small{
    padding-left:15px;
    margin: 0 10px 10px 0;
    .icons{
      float:right;
      .text{
        vertical-align:top;
      }
    }
  }
  .description{
    padding:10px 15px 0px;
  }
}
.ui-widget{

}

// Notes
div.note {
  margin: 0.3em 0.3em 0.6em;

  p {
    padding: 0.3em;
  }

  div.note_meta {
    text-align: right;
  }
}

.note_form {
  // The submit button while the server is saving the note.
  input.saving {
    padding-left: 16px;
    background-image: url('/images/throbber.gif');
    background-repeat: no-repeat;
    background-position: left center;
  }
}

#messages .flash-alert {
  padding: 5px;
  margin-bottom: 10px;
}

#messages .flash-notice {
  padding: 5px;
  margin-bottom: 10px;
}

#messages .flash-error {
  padding: 5px;
  margin-bottom: 10px;
}

#messages .close {
  padding-right: 5px;
  float: right;
  line-height: 18px;
  opacity: 0.4;

  &:hover {
    opacity: 1;
  }
}

/* Form Styles */
.form-wrapper  {
  padding: 10px;

  input[type=text],
  input[type=email],
  input[type=password],
  select
  textarea {
  
  }

  input[type=text]:focus,
  input[type=email]:focus,
  input[type=password]:focus,
  select:focus,
  textarea:focus {
    outline: 0;
  }

  input[type=text],
  input[type=email],
  input[type=password],
  select {
    display: inline-block;
    width: 210px;
  }
  select {
    min-width: 220px;
    width: auto;
    margin: auto;
  }

  div.field-wrapper label {
    width: 150px;
    text-align: right;
    display: block;
    zoom: 1;
    float: left;
  }

  div.field-wrapper:before, div.field-wrapper:after {
    display: table;
    content: "";
    zoom: 1;
  }

  div.field-wrapper:after {
    clear: both;
  }

  div.field {
    margin-left: 160px;
  }

  div.date-wrapper select {
    min-width: 0px;
    width: auto;
  }

  div.field-wrapper div.help {
    margin-left: 160px;
    margin-top: -10px;
    margin-bottom: 10px;
  }

  div.actions, div.secondary-actions {
    padding-left: 160px;
  }

  div.secondary-actions a {
    display: block;
  }
}

div.loading_screen {
  position: absolute;
  top:-10px;
  left:-10px;
  z-index: 1000;
  @include opacity(0.7);
  width: 110%;
  height: 110%;
}

div.spinner {
  margin: 15% 45%;
  span{
    padding:50px;
  }
}
